.mt{
  margin-top: 1em;
}
.dropdown{
  margin-top: .5em;
  color:rgba(39, 39, 39, 0.88)
}
.sm{
  font-size: .9em;
}
.m{
  margin: 1em;
}
.bold{
  font-weight: bolder;
}
footer{
  margin: 1em 0 1em;
}
.pt{
  padding-top: .8em !important;
}
.next{
  width: 20px;
  margin: 0 -.6em 0 .2em;
}
h1{
  margin: 0.3em 0;
}