.mt{
  margin-top: 2em;
}
.dropdown{
  margin-top: .5em;
  color:rgba(39, 39, 39, 0.88)
}
.sm{
  font-size: .9em;
}
.m{
  margin: 1em;
}
.bold{
  font-weight: bolder;
}
footer{
  margin-top: 2em;
}
.pt{
  padding-top: .8em !important;
}