.mt{
  margin-top: 1em;
}
.mts{
  margin-top: .5em;
}
.sm{
  font-size: .9em;
}
.m{
  margin: 1em;
}
.bold{
  font-weight: bolder;
}
footer{
  margin: 1em 0 1em;
}
.pt{
  padding-top: .8em !important;
}
.next{
  width: 20px;
  margin: 0 -.6em 0 .2em;
}
h1{
  margin: 0.3em 0;
}
.floating{
  position: absolute;
  left: 0;
  margin: 1em 0 0 2em;
}
.block{
  display: block;
}
.bold{
  font-weight: bold;
}
/* .ui[class*="right labeled"].input input:focus{
  border-right-color: #E0B4B4 !important;
} */
#err{
  border-right-color: #E0B4B4 !important;
}
